@import url('./fonts.css');
*{box-sizing: border-box;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, p, span, a, ul, li, body, td, th, select, input, textarea{font-family:'Noto Sans KR',sans-serif ;font-size: 12px; color:#333;}
li{list-style: none;}
a{text-decoration:none;color:#000;}
img{border:none;}
a:hover, a:link, a:visited, a:active,a:focus{text-decoration:none;}
textarea{-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;box-shadow: none;}
textarea:focus{outline:none;}
input[type="text"],input[type="password"]{border:none;box-shadow: none;
    -webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;}
select::-ms-expand {display:none}
input:focus{outline:none;}
select:focus{outline:none;}
table{border-collapse: collapse;}
button{border:none;box-shadow:none;outline:none;background:none;}
input::placeholder{font-size:11px;color:#777;letter-spacing:-1px;}

.clearfix{*zoom:1;}
.clearfix:after{display:block;content:'';clear:both;}

.tac{text-align:center !important;}
.tal{text-align:left !important;padding:5px 0 5px 5px !important;}
.tar{text-align:right !important;padding:5px 5px 5px 0 !important;}